.singleBookmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color: cadetblue;
    width: 130px;

}

.singleBookmarkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.singlebook-img {
    width: 78px;
    height: 78px;
    background-color: #4d4d4d;
    border-radius: 20px;
    display: grid;
    place-items: center;

}

.singlebook-img > img {
    width: 60%;
    height: 60%;
}