.singleBookmark {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 130px;

}

.singleBookmarkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 20px;
   
}

.singlebook-img {
    width: 78px;
    height: 78px;
    background-color: #4d4d4d;
    border-radius: 20px;
    display: grid;
    place-items: center;
    position: relative;

}

.singlebook-img > h1 {
    color: #fff;
}

.singleBookmarkContainer > p {
    margin-top: 10px;
    color: #000;
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
}



.singlebook-img  .delete_icon{
    width: 30%;
    position: absolute;
    left: 80%;
    top: -10%;
    background-color: lightblue;
    border-radius: 30%;
    display: none;
}

.singlebook-img:hover  .delete_icon{
    display: block;
}