.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A2A3B6;
   
}
.login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 65%;
    box-shadow: 7px 8px 64px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 8px 64px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 8px 64px -8px rgba(0,0,0,0.75);
}

.login-leftcontainer {
    background-color: #9FAFD5;
    flex: 0.5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;   
}

.login-leftcontainer > img {
    height: auto;
    width: 100%;
    margin-bottom: 2rem;
    pointer-events: none;
}

.login-leftcontainer > p {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

.login-rightcontainer {
    background-color: #FEFEFF;
    height: 100%;
    width: 100%;
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.login-right-content > h1 {
    font-size: 5.65rem;
    margin-bottom: 2rem;
    margin-top: -1rem;
    font-family: 'Charm', cursive;
    user-select: none;
    -webkit-user-select: none;
}

.login-right-content > p {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}

.login-rightcontainer > img {
    display: none;
}

.login-rightcontainer > button {    
    border: none;
    border-radius: 30px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    color: #2c2c2c;
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(236, 232, 232);
    background-repeat: no-repeat;
    background-position: 12px 11px;
    position: relative;
    width: 50%;
    height: 3rem;
    padding: 0.5rem 1rem;
}

.login-rightcontainer > button:hover {
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0, 0, 0, .4), 0 2px 4px rgba(0, 0, 0, .65);
}

.login-rightcontainer > button > img {
    position: absolute;
    left: 8%;
}


@media (min-width: 992px) and (max-width: 1380px) {
    .login-container {
        height: 80%;
        width: 85%;
    }
    
}


@media screen and (max-width: 992px) {
    .login-container {
        height: 90%;
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .login-container {
        height: 100%;
        width: 100%;
    }
    .login-leftcontainer {
        display: none;
    }
    .login-rightcontainer {
        flex: 1;
        background-color: #9FAFD5;
    }
    .login-rightcontainer > button {    
        width: 300px;
    }
    .login-rightcontainer > img {
        display: block;
        width: 400px;
    }
    
}

@media screen and (max-width: 600px) {
    .login-rightcontainer > img {
        width: 400px;
    }
}

@media screen and (max-width: 400px) {
    .login-rightcontainer > img {
        width: 350px;
    }
}
  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    .login-rightcontainer > img {
        width: 300px;
    }
    .login-rightcontainer > button {    
        width: 250px;
    }
}


@media only screen and (device-width: 768px) {

}