.app {
  height: 100vh;
}

iframe {
  width: 100%;
  height: 100%;
  margin: -2px;
}






  
@media only screen and (min-device-width: 320px) and (max-device-width: 
  480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {

}


@media only screen and (device-width: 768px) {

}